<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Let me preface this by saying, my apologies if this CV/resume seems ... too informal - we're probably not a good fit anyway. I say that in both our interests. I haven't felt either a desire or need to do one of these for decades. I still don't - it just seems like a good idea. That said:
			<br /><br />I sort of do everything. 
			<br /><br />I've forgotten more environments and operating systems and hardware and languages than most people ever even hear of, much less learn or do. 
			<br /><br />The reason for that is that is that I've been honestly interested in the evolution of computing since the late 1970's - it's all much simpler now, but back then it was being made from scratch, so there was much to learn along the way.
			<br /><br />There were points in time in the early parts of my career where I was a deep expert in a few topics. Those days are history - I no longer claim to be an expert in anything - I do too many varying things on any given day now. But I have so much background, that I can usually guess my way into a new topic pretty well and get up to speed on it quickly.
			<br /><br />I like Open Source - both the philosophy and software. I've been into that since the '90's, and have a sense of how that ecosystem is structured and behaves. As a practical matter, that's what I was doing in my first full time job when I developed programmer utilities and made them available to everybody in the department. Apparently, they must have been worthwhile, because everybody used them, and a major request after I gave notice was that I formalize them so people could continue to use them after I left. I did that, of course.
			<br /><br />In short, I don't have a single, cohesive story. I have a history. If that interests you, then ask about anything, and I'll give you an honest answer. I don't hesitate to say "I don't know" if that's the case. 
		</div>
		<br>
	</div>
</div>

