<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I sort of do everything. I've forgotten more environments and operating systems and hardware and languages than most people ever even hear of, much less learn or do. The reason for that is that is that I've been honestly interested in the evolution of computing since the late 1970's - it's all much simpler now, but back then it was baing made from scratch, so there was much to learn along the way.
			There were points in time in the early parts of my career where I was a deep expert in a few topics. Thoe days are history - I don't claim to be an expert in anything - I do too many varying things on any given day, now, but I have so much background, that I can usually guess my way into a new topic pretty well and get up to speed on it quickly.
		</div>
		<br>
	</div>
</div>
